body
{
    display:flex;
    justify-content: center;
    align-items: center;
    
}






nav  {
    display: flex;
      justify-content: right;
      cursor: pointer;
      transition: 1s;
      position:;margin-top: -14.9cm;
      position:;margin-left: 24.1cm;
      
      
}  
li {
    color:whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:inline-flex
    
}
main 
{
color:#000000 ;

}
.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        transition: 0.8s;
        
}